.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
}

.myIcon {
  color: #ccc;
}

.myFeatured {
  color: orange;
}

.bar {
  background-color: pink;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  justify-content: space-between;
  font-size: 12px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.car {
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.star {
  font-size: 28px;
}
